

<div>
    <footer class="footer container-fluid px-4">
        <div class="d-flex py-2  justify-content-between border border-1 border-end-0 border-top-0 border-start-0 border-secondary">
            <div class="footer-img">
                <a href="#">
                    <img src="https://www.rabitabank.com/assets/images/rabite_new_logo.svg" alt="">
                </a>
            </div>
            <div class="footer-num">
                <a class="text-secondary text-decoration-none fw-bold fs-2" href="#"><i class="bi bi-telephone-forward-fill fs-4"></i> 133</a>
            </div>
        </div>
        <div class="d-flex py-2  justify-content-around fw-bold fs-4 footer-links border border-1 border-end-0 border-top-0 border-start-0 border-secondary">
            <div class="col-md-4">
                <p><a href="#">Fərdi müştərilər</a></p>
                <p><a href="#">İnsan resursları</a></p>
            </div>
            <div class="col-md-4">
                <p><a href="#">Biznes müştərilər</a></p>
                <p><a href="#">İnvestorlarla əlaqə</a></p>
            </div>
            <div class = "col-md-4">
                <p><a href="#">Bank haqqında</a></p>
            </div>
        </div>
        <div class="py-2 fs-5 footer-links border border-1 border-end-0 border-top-0 border-start-0 border-secondary">
            <h2 class="fw-bold">Baş Ofis</h2>
            <div class="d-flex justify-content-around">    
                <div class="col-md-4 px-1">
                    <p>Azərbaycan, Bakı şəh., AZ 1010, 28 May küç. 33</p>
                </div>
                <div class="col-md-4 px-1">
                    <p>Tel.: (994 12) 598 44 88</p>
                    <p>Faks: (994 12) 497 11 01</p>
                </div>
                <div class = "col-md-4 px-1">
                    <p>
                        Teleks: 142453 RSKBAI133@rabitabank.com Zəng sifarişi
                    </p>
                </div>

            </div>
            <div class="d-flex flex-wrap justify-content-start">
                <div>
                    <a href=""><img src="https://www.rabitabank.com/assets/images/infobank-v-2@2x.png" alt=""></a>
                </div>
                <div>
                    <a href=""><img src="https://www.rabitabank.com/assets/images/msp.png" alt=""></a>
                </div>
                <div>
                    <a href="">
                        <div class="footer-store-icon d-flex justify-content-between">
                            <div class="footer-store-label">
                                <i class="bi bi-apple"></i>
                            </div>
                            <div class="footer-store-text">
                                <p>Dowload on the <br>App Store</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="">
                        <div class="footer-store-icon d-flex justify-content-between">
                            <div class="footer-store-label">
                                <i class="bi bi-google"></i>
                            </div>
                            <div class="footer-store-text">
                                <p>Get it on the <br>Play Store</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="d-flex py-2  justify-content-between">
                <div col="col-md-6">
                    <p class="fs-5 footer-end-text">
                        Rabitəbank ASC Azərbaycan Mərkəzi Bankın 136 saylı lisenziyası
                        əsasında fəaliyyət göstərir. © Rabitəbank 2022
                    </p>
                </div>
                <div class ="col-md-6">
                    <ul class="footer-soc-list d-flex justify-content-around fs-1">
                        <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                        <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                        <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
    </footer>
</div>